.imagePreview_wraper {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;

  .icon {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;

    &.icon-rorateRight {
      width: 20px;
      height: 20px;
      background: url('~@/assets/img/icon_rotate_right.png') no-repeat;
      background-size: 100% 100%;
    }

    &.icon-rorateLeft {
      width: 20px;
      height: 20px;
      background: url('~@/assets/img/icon_rotate_left.png') no-repeat;
      background-size: 100% 100%;
    }

    &.icon-reset {
      width: 20px;
      height: 17px;
      background: url('~@/assets/img/icon_reset.png') no-repeat;
      background-size: 100% 100%;
    }

    &.icon-zoomIn {
      width: 20px;
      height: 21px;
      background: url('~@/assets/img/icon_zoom_in.png') no-repeat;
      background-size: 100% 100%;
    }

    &.icon-zoomOut {
      width: 20px;
      height: 21px;
      background: url('~@/assets/img/icon_zoom_out.png') no-repeat;
      background-size: 100% 100%;
    }

    &.icon-close {
      width: 20px;
      height: 20px;
      background: url('~@/assets/img/icon_close.png') no-repeat;
      background-size: 100% 100%;
    }

    &.icon-arrowLeft {
      width: 20px;
      height: 20px;
      background: url('~@/assets/img/icon_arrow_left.png') no-repeat;
      background-size: 100% 100%;
    }

    &.icon-arrowRight {
      width: 20px;
      height: 20px;
      background: url('~@/assets/img/icon_arrow_right.png') no-repeat;
      background-size: 100% 100%;
    }
  }

  .imagePreview__mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .5;
    background: #000;
  }

  .imagePreview__canvas {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .imagePreview__img {
    position: absolute;
    top: 0;
    left: 0;
    //transition: all 0.3s ease 0s;
    cursor: grab;
  }

  .imagePreview__close, .imagePreview__prev, .imagePreview__next {
    position: absolute;
    z-index: 10;
    top: 44px;
    right: 44px;
    display: inline-block;
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    background-color: #606266;
    opacity: 0.8;
    font-size: 0;
    cursor: pointer;
    border-radius: 50%;
  }

  .imagePreview__prev, .imagePreview__next {
    top: 50%;
    right: auto;
    left: 44px;
    margin-top: -22px;
  }

  .imagePreview__next {
    right: 44px;
    left: auto;
  }

  .imagePreview__actions {
    position: absolute;
    z-index: 10;
    bottom: 30px;
    left: 50%;
    height: 44px;
    padding: 0 22px;
    transform: translate(-50%, 0);
    background-color: #606266;
    opacity: 0.8;
    border-radius: 22px;

    .item {
      display: inline-block;
      width: 44px;
      height: 44px;
      line-height: 44px;
      text-align: center;
      font-size: 0;
    }
  }
}